# --- KONG SYSTEM CONFIG ---
KONG_DATABASE=off
KONG_DECLARATIVE_CONFIG=/usr/local/kong/declarative/kong.yml
KONG_PROXY_LISTEN=
KONG_ADMIN_LISTEN=

# --- URL SERVICES ---
IAM_SERVICE_URL=

# --- SECRET-KEY ---
KONG_JWT_SECRET=
KONG_JWT_ALGORITHM=


# --- REDIS CONFIG ---
KONG_REDIS_HOST=
KONG_REDIS_PORT=
KONG_REDIS_DB=

# --- LOG ---
KONG_PROXY_ACCESS_LOG=/dev/stdout  
KONG_PROXY_ERROR_LOG=/dev/stderr
KONG_ADMIN_ACCESS_LOG=/dev/stdout     
KONG_ADMIN_ERROR_LOG=/dev/stderr
KONG_LOG_LEVEL=

# --- URL FRONTEND ---
URL_FRONTEND=