# ---- DATABASE ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=intern_project

# --- GENERAL ---
DEBUG=True

# --- SECRET_KEY ---
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# --- MySQL ---
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=intern_project

# --- REDIS ---
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# --- RESET PASSWORD ---
RESET_TOKEN_EXPIRE_SECOND=
EXPOSE_RESET_TOKEN_IN_RESPONSE=