# ---- DATABASE ---
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=intern_project

# --- GENERAL ---
DEBUG=True

# --- SECRET_KEY ---
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
