.avatar {
    object-fit: cover;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 2px solid var(--color-border);
    cursor: pointer;
}

.circle {
    border-radius: 50%;
}

.sm {
    height: 32px;
    width: 32px;
    font-size: 12px;
    border-width: 2px;
}

.md {
    height: 64px;
    width: 64px;
    font-size: 24px;
    border-width: 4px;
}

.lg {
    height: 96px;
    width: 96px;
    font-size: 36px;
    border-width: 6px;
}

.placeholder {
    background-color: var(--color-bg-alt);
    color: var(--color-text);
}