:root {
  --color-primary: #25a2eb;
  --color-primary-hover: #1d4ed8;
  --color-secondary: #64748b;

  --color-success: #16a34a;
  --color-warning: #eab308;
  --color-error: #dc2626;
  --color-info: #0ea5e9;

  --color-bg: #dee6f6;
  --color-bg-alt: #f8fafc;
  --color-text: #0f172a;
  --color-text-muted: #64748b;
  --color-border: #e2e8f0;
}

html, body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--color-bg-alt);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}