.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.headerLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.headerLeft .title {
    font-size: 24px;
    font-weight: 400;
}

.createUser {
    width: 100px;
    padding: 1px;
    border-radius: 4px;
    background-color: rgb(2, 202, 2);
}

.createUser:hover:not(:disabled) {
    background-color: var(--color-success);
    transform: none;
}

.content {
    background-color: var(--color-bg-alt);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: solid var(--color-border);
    border-width: 5px 2px 1px 2px;
    border-radius: 4px;
}

.table {
    flex-grow: 1;
    margin: 10px;
    overflow-x: auto;
    overflow-y: auto;
    height: 70vh;
}


